.Breadcrumbs {
  background-color: white;
  font-size: 2rem; }
  .Breadcrumbs .Link {
    color: black;
    text-decoration: none; }
    .Breadcrumbs .Link.active {
      color: blue;
      text-decoration: underline; }
  .Breadcrumbs .separator {
    padding: 0 0.3em; }
