$hamburger-nav-bg-color: #eee !default;
$hamburger-nav-padding: 2rem !default;
$hamburger-nav-links-margin: 2rem !default;
$hamburger-nav-link-font-size: 2rem !default;
$hamburger-nav-idle-link-color: rgba(#000, 0.6) !default;
$hamburger-nav-hover-link-color: rgba(#000, 1) !default;
$hamburger-nav-active-link-color: rgba(#000, 1) !default;
$hamburger-nav-idle-link-decoration: none !default;
$hamburger-nav-hover-link-decoration: none !default;
$hamburger-nav-active-link-decoration: underline !default;
$hamburger-nav-transition: 0.2s !default;

.HamburgerMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: $hamburger-nav-bg-color;
  padding: $hamburger-nav-padding;
  transform: translateX(100%);
  transition: $hamburger-nav-transition;

  &.open {
    transform: translateX(0%);
  }

  .nav-list {
    width: 100%;

    .nav-item {
      display: block;
      margin-bottom: $hamburger-nav-links-margin;

      &:last-of-type {
        margin-bottom: 0;
      }

      a {
        font-size: $hamburger-nav-link-font-size;
        color: $hamburger-nav-idle-link-color;
        text-decoration: $hamburger-nav-idle-link-decoration;

        &.active {
          color: $hamburger-nav-active-link-color;
          text-decoration: $hamburger-nav-active-link-decoration;
        }

        &:hover:not(.active) {
          color: $hamburger-nav-hover-link-color;
          text-decoration: $hamburger-nav-hover-link-decoration;
        }
      }
    }
  }
}
