.RotateScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; }
  .RotateScreen .container {
    text-align: center; }
    .RotateScreen .container .rotate-text {
      color: #fff;
      font-size: 1.6rem; }
    .RotateScreen .container .rotate-icon {
      width: 10rem; }
