$rotate-screen-bg-color: #000 !default;
$rotate-screen-text-color: #fff !default;
$rotate-screen-text-font-size: 1.6rem !default;
$rotate-screen-icon-width: 10rem !default;

.RotateScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $rotate-screen-bg-color;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    text-align: center;

    .rotateText {
      color: $rotate-screen-text-color;
      font-size: $rotate-screen-text-font-size;
    }

    .rotateIcon {
      width: $rotate-screen-icon-width;
    }
  }
}
