.RotateScreen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .container {
    text-align: center;

    > .rotateText {
      color: #fff;
      font-size: 1.6rem;
    }

    > .rotateIcon {
      width: 10rem;
    }
  }
}
