.CookieBanner {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4.5rem 2rem;
  background-color: black; }
  .CookieBanner > .description {
    margin-bottom: 3rem;
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: white; }
    .CookieBanner > .description a {
      color: currentColor; }
  .CookieBanner > .buttons-container > button {
    border: 0;
    padding: 2rem;
    background-color: black;
    font-size: 2.4rem;
    line-height: 3.1rem;
    white-space: nowrap;
    cursor: pointer; }
    .CookieBanner > .buttons-container > button.accept {
      background-color: red;
      color: white; }
    .CookieBanner > .buttons-container > button.reject {
      color: red; }
