.Footer {
  display: inline-block;
  width: 100%;
  padding: 2rem 4rem;
  background: #000;
  box-sizing: border-box;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #fff;

  > .footerNav {
    border-bottom: 1px solid gray;

    > .navList {
      display: inline-block;
      padding-left: 0;

      > .navItem {
        display: inline-block;
        margin-right: 2rem;

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }

  > .footerCopyright {
  }
}
