.Footer {
  display: inline-block;
  width: 100%;
  padding: 0 4rem;
  background: #000;
  box-sizing: border-box; }
  .Footer .footer-nav .nav-list {
    display: inline-block;
    padding-left: 0; }
    .Footer .footer-nav .nav-list .nav-item {
      display: inline-block;
      margin-right: 1.6rem;
      font-size: 1.6rem; }
      .Footer .footer-nav .nav-list .nav-item:last-of-type {
        margin-right: 0; }
    .Footer .footer-nav .nav-list a {
      color: #fff; }
  .Footer .footer-copyright {
    font-size: 1.6rem;
    color: #fff; }
