$main-top-nav-height: 6rem !default;
$main-top-nav-padding: 0 4rem !default;
$main-top-nav-bg-color: #eee !default;
$main-top-nav-logo-width: 4rem !default;
$main-top-nav-links-margin: 2rem !default;
$main-top-nav-link-font-size: 2rem !default;
$main-top-nav-idle-link-color: rgba(#000, 0.6) !default;
$main-top-nav-hover-link-color: rgba(#000, 1) !default;
$main-top-nav-active-link-color: rgba(#000, 1) !default;
$main-top-nav-idle-link-decoration: none !default;
$main-top-nav-hover-link-decoration: none !default;
$main-top-nav-active-link-decoration: underline !default;

.MainTopNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: $main-top-nav-padding;
  height: $main-top-nav-height;
  background: $main-top-nav-bg-color;
  box-sizing: border-box;

  .only-aria-visible {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .nav-logo {
      width: $main-top-nav-logo-width;
    }

    .nav-list {
      display: inline-block;

      .nav-item {
        display: inline-block;
        margin-left: $main-top-nav-links-margin;

        a {
          font-size: $main-top-nav-link-font-size;
          color: $main-top-nav-idle-link-color;
          text-decoration: $main-top-nav-idle-link-decoration;

          &.active {
            color: $main-top-nav-active-link-color;
            text-decoration: $main-top-nav-active-link-decoration;
          }

          &:hover:not(.active) {
            color: $main-top-nav-hover-link-color;
            text-decoration: $main-top-nav-hover-link-decoration;
          }
        }
      }
    }
  }
}
