.MainTopNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  height: 6rem;
  background: #eee;
  box-sizing: border-box; }
  .MainTopNav .only-aria-visible {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px);
    /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px; }
  .MainTopNav .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%; }
    .MainTopNav .nav .nav-logo {
      width: 4rem; }
    .MainTopNav .nav .nav-list {
      display: inline-block; }
      .MainTopNav .nav .nav-list .nav-item {
        display: inline-block;
        margin-left: 2rem; }
        .MainTopNav .nav .nav-list .nav-item a {
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.6);
          text-decoration: none; }
          .MainTopNav .nav .nav-list .nav-item a.active {
            color: black;
            text-decoration: underline; }
          .MainTopNav .nav .nav-list .nav-item a:hover:not(.active) {
            color: black;
            text-decoration: none; }
