.Tabs {
  width: 100%;

  .tabs-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;

    > .Tab {
      list-style: none;
      padding: 0.5rem;
      font-size: 2rem;
      text-transform: capitalize;
      border-bottom: 1px solid transparent;
      transition: border 0.125s ease-out;

      &:hover {
        cursor: pointer;
      }

      &.active {
        border-bottom: 1px solid black;
      }
    }
  }
}
