$main-footer-nav-padding: 0 4rem !default;
$main-footer-links-margin: 2rem !default;
$main-footer-link-font-size: 1.6rem !default;
$main-footer-link-color: #fff !default;
$main-footer-bg-color: #000 !default;
$main-footer-copyright-color: #fff !default;
$main-footer-copyright-font-size: 1.6rem !default;

.Footer {
  display: inline-block;
  width: 100%;
  padding: $main-footer-nav-padding;
  background: $main-footer-bg-color;
  box-sizing: border-box;

  .footerNav {
    .navList {
      display: inline-block;
      padding-left: 0;

      .nav-item {
        display: inline-block;
        margin-right: $main-footer-link-font-size;
        font-size: $main-footer-link-font-size;

        &:last-of-type {
          margin-right: 0;
        }
      }

      a {
        color: $main-footer-link-color;
      }
    }
  }

  .footerCopyright {
    font-size: $main-footer-copyright-font-size;
    color: $main-footer-copyright-color;
  }
}
