.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 4rem;
  height: 6rem;
  background: #eee;
  box-sizing: border-box;

  .onlyAriaVisible {
    clip-path: inset(100%);
    clip: rect(1px 1px 1px 1px); /* IE 6/7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  > .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    > .navLogo {
      width: 4rem;
    }

    > .navList {
      display: inline-block;

      > .navItem {
        display: inline-block;
        margin-left: 2rem;

        > .link {
          font-size: 2rem;
          color: rgba(#000, 0.6);
          text-decoration: none;

          &.active {
            color: #000;
            text-decoration: underline;
          }

          &:hover:not(.active) {
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
}
